<!DOCTYPE html>
<html lang="en" ng-app="bankingApp" ng-controller="customerController">
<head>
	<title>Minibank Customer Dashboard</title>
	
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" href="/app/components/navbar/navbar.css" />
	<link rel="stylesheet" href="/app/dashboard/customer/customer.css" />
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
	<!-- Top header with navbar links -->
	<header class="topbar">
		<div class="logo">Minibank</div>
		<nav class="topnav">
			<ul>
				<li ng-class="{active: page ==='dashboard'}" ng-click="setPage('dashboard')">Dashboard</li>
				<li ng-class="{active: page ==='transfer'}" ng-click="setPage('transfer')">Transfer</li>
				<li class="logout" ng-click="logout()">Logout</li>
			</ul>
		</nav>
	</header>

	<!-- Main content -->
	<main class="main-content">
		<div ng-if="page === 'dashboard'">
			<h2>Balance: {{ account.balance | currency:"₱" }}</h2>
			<h4>Account No.: {{ account.accountId }}</h4>
			
			<hr>
			
			<div> <!-- TRANSACTION HISTORY START -->
				<div ng-if="transactions.length > 0">
					<table>
						<tr>
							<th>Transaction ID</th>
							<th>Source Account</th>
							<th>Destination Account</th>
							<th>Amount</th>
							<th>Timestamp</th>
						</tr>
						<tr ng-repeat="transaction in transactions">
							<td>{{ transaction.transactionId }}</td>
							<td>{{ transaction.sourceAccount }}</td>
							<td>{{ transaction.destinationAccount }}</td>
							<td>{{ transaction.amount | currency:"₱ " }}</td>
							<td>{{ transaction.timestamp | date:'MMM d, yyyy h:mm a' }}</td>
						</tr>
					</table>
				</div>
				
				<div ng-if="transactions.length === 0">
					<p>No transactions to show.</p>
				</div>
			</div> <!-- TRANSACTION HISTORY END -->
		</div>
		
		<div ng-if="page === transfer">
			<!-- PAGE FOR TRANSFER FORM -->
		</div>
	</main>
	
	<!-- AngularJS Modules -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
	
	<!-- Main Angular App -->
	<script src="/app/app.js"></script>
	
	<!-- Services -->
	<script src="/app/services/authService.js"></script>
	<script src="/app/services/bankService.js"></script>
	
	<!-- Controllers -->
	<script src="/app/dashboard/customer/customerController.js"></script>
</body>

</html>
